.container {
  padding: 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;

  margin-left: 5vw;
  margin-top: 5vh;

  width: 90vw;
  height: 80.5vh;

  background-color: #b4b4b8;

  border-radius: 10px;

  box-shadow: 2px 2px 10px whitesmoke, -2px -2px 10px whitesmoke,
    inset 0.1px 0.1px 10px black, inset -0.1px -0.1px 10px black;

  overflow-y: hidden;

  z-index: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  gap: 1vw;
}

.imgCont {
  grid-row: span 2;
}

.nameCont {
  grid-column: span 2;
}

.logoCont {
  grid-column: span 2;
}

.aboutCont {
  grid-column: span 3;
  grid-row: span 2;
}

.container h1 {
  font-size: 7vh;
}

.container > div {
  width: 100%;
  height: 100%;

  border-radius: 10px;

  border: solid black 1px;
}

.container ol {
  list-style-type: none;
}

.container img {
  position: static;
  width: 50px;
  height: 50px;

  min-width: 0;
  min-height: 0 !important;
}

.logoList li {
  display: inline-block;
  width: 20%;

  margin-top: 6vh;
  margin-left: 2vw;

  text-align: center;
}

.logoList li a {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.logoList li a:hover {
  opacity: 0.5;
  transform: scale(0.9);
}

#profilePic {
  display: inline-block;
  width: 17vw;
  height: 17vw;
  max-width: none !important;
  max-height: none !important;

  margin-left: 4.5vw;
}
.aboutCont {
  font-size: 3vh;
  text-align: center;
  padding: 5vh;
}
