.container {
  padding: 3vw;
  padding-top: 2vw;

  margin-left: 5vw;
  margin-top: 3vh;

  width: 90vw;
  height: 80.5vh;

  background-color: #b4b4b8;

  border-radius: 10px;

  box-shadow: 2px 2px 10px whitesmoke, -2px -2px 10px whitesmoke,
    inset 0.1px 0.1px 10px black, inset -0.1px -0.1px 10px black;

  overflow-y: auto;

  z-index: 0;
}

.container > h1 {
  font-size: 7.5vh;
  margin-bottom: 10vh;
}

.container p {
  font-size: 2.5vh;
  text-align: center;

  margin-top: 5vh;
}
