.container {
  padding: 3vw;
  padding-top: 2vw;

  margin-left: 5vw;
  margin-top: 3vh;

  width: 90vw;
  height: 85.5vh;

  background-color: #b4b4b8;

  border-radius: 10px;

  box-shadow: 2px 2px 10px whitesmoke, -2px -2px 10px whitesmoke,
    inset 0.1px 0.1px 10px black, inset -0.1px -0.1px 10px black;

  overflow-y: hidden;

  z-index: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;

  gap: 1vw;
}

.container h1 {
  font-size: 7vh;
  text-align: center;
}

.formDiv {
  padding: 1%;
}

.formDiv form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
}

.formDiv form div:nth-child(3) {
  grid-column: span 2;
  margin-left: 7vw;
}

.formDiv > form > div:has(input) {
  width: 28.66vw;
  margin-left: 7vw;
}

.textDiv {
  margin-left: 7vw;
  width: 70vw;
  height: 25vh;

  grid-column: span 2;
}

.formDiv button {
  margin-left: 30vw;
  margin-top: 5vh;
  color: black;
}

.formDiv input,
.formDiv span {
  height: 5vh;
}
