.container {
  padding: 3vw;
  padding-top: 2vw;
  padding-bottom: 0.75vh;

  margin-left: 1vw;
  margin-top: 3vh;

  width: 98vw;
  height: 82.5vh;

  background-color: #b4b4b8;

  border-radius: 10px;

  box-shadow: 2px 2px 10px whitesmoke, -2px -2px 10px whitesmoke,
    inset 0.1px 0.1px 10px black, inset -0.1px -0.1px 10px black;

  overflow-y: hidden;

  z-index: 0;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;

  gap: 1vw;
}

.container > div {
  border: solid black 1px;
  height: 100%;
  width: 100%;
  padding: 1vw;

  border-radius: 10px;
}

.container > div > h1 {
  font-size: 6vh;
  text-align: center;
}

.filterContainer > div {
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.filterContainer > div > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.filterContainer label {
  position: relative;
}

.filterContainer label > h3 {
  position: absolute;
  bottom: 0px;
}

.filterContainer > div > div > select {
  background-color: #758694;
  width: 100%;
  height: 5vh;

  border-radius: 10px;

  border: none;
}

.cardsContainer {
  width: 100%;
  height: 68vh;

  overflow-y: auto;

  display: grid;

  padding: 1vw;

  grid-template-columns: 1fr;
  grid-template-rows: 20vh;
}

.postCardContainer {
  border: solid black 1px;

  padding: 1%;
  padding-top: 0;
  margin-bottom: 1vh;

  border-radius: 10px;

  position: relative;
}

.postCardContainer button {
  position: absolute;
  bottom: 1vh;
  right: 1vw;

  width: 10vw;

  color: black;
}

.postCardContainer button:hover {
  background-color: #758694;
  color: whitesmoke;
}

/* img {
  position: absolute;
  top: 5vh;
  height: 30vh;
  width: 30vh;
} */

.logoCont {
  border: solid green 1px;
}
