.container {
  padding: 3vw;
  padding-top: 2vw;

  margin-left: 5vw;
  margin-top: 3vh;

  width: 90vw;
  height: 80.5vh;

  background-color: #b4b4b8;

  border-radius: 10px;

  box-shadow: 2px 2px 10px whitesmoke, -2px -2px 10px whitesmoke,
    inset 0.1px 0.1px 10px black, inset -0.1px -0.1px 10px black;

  overflow-y: auto;

  z-index: 0;
}

.container > h1 {
  font-size: 7.5vh;
}

.detContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;

  gap: 3vh;

  padding-top: 3vh;
}

.popUpDiv {
  position: absolute;

  padding-top: 0;

  margin-top: 5vh;

  width: 100vw;
  height: 87vh;

  z-index: 5;

  bottom: -82.5vh;
  left: 0;

  background-color: #758694;

  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;

  transition: all 1s ease-in-out;
}

.wholePage {
  height: 90.5vh;
  width: 100%;

  position: relative;

  overflow-y: hidden;

  /* border: solid yellow 2px; */
}

.popUpButton {
  background-color: transparent;
  border: none;

  width: 100vw;
  height: 4vh;

  text-align: center;

  color: #fff8f3;
}

.bgDiv {
  position: fixed;
  top: 0;
  left: 0;

  background-color: black;

  opacity: 0.4;

  z-index: -1;

  width: 100vw;
  height: 100vh;
}

.formContainer {
  margin-top: 2vh;

  height: 100%;
  width: 100%;

  padding: 2vh 2vw;
}

.formContainer form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 5vh;
}

.formContainer form h1 {
  grid-column: span 3;
  text-align: center;
}

#span2 {
  grid-column: span 2;
}

.submitCont {
  display: grid;
  justify-content: center;
  align-items: center;
}

.submitCont > button {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  width: 7vw;
  height: 6vh;

  transition: all 0.5s ease-in-out;

  color: #fff8f3;

  border: solid black 1px;
}

.submitCont > button:hover {
  background-color: #405d72;
  /* color: black; */
}

@media screen and (max-width: 590px) {
  .formContainer form {
    display: block;
  }

  .formContainer form > div {
    margin-top: 3vh;
  }
  .popUpDiv {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .formContainer form button {
    width: 50vw;
  }
}
