

body{
  overflow-y: auto !important;
}

.container {
  width: 100%;
  padding: 2% 5%;
  background-color: #405d72;
  color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 5vh 0;
  border-radius: 2rem 2rem  0px 0px;
  
  
}

.container div {
  border-right: solid whitesmoke 1px;
  padding: 1% 2%;
}

.container h1 {
  text-align: center;
}

.container hr {
  color: whitesmoke;
}

.container button {
  background-color: transparent;
  border: solid black 1px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  color: whitesmoke;
  width: 100%;
  height: 40px;
  margin: 0.5rem 0;
}

.container button:hover {
  background-color: whitesmoke;
  color: black;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container li {
  text-align: center;
}

.container li p {
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 2% 3%;
  }

  .container button {
    height: 35px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2% 10%;
    grid-template-columns: 1fr;
  }

  .container div {
    border-right: none;
    border-bottom: solid whitesmoke 1px;
    margin-bottom: 2%;
  }
}
