#navId {
  background-color: #405d72 !important;

  height: 7.5vh;

  border-radius: 5vh !important;

  z-index: 3;

  width: 90vw;

  margin-left: 5vw;
  margin-top: 2vh;

  padding-left: 2vw;
  padding-right: 2vw;
}

.loginButton {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  width: 7vw;
  height: 4.5vh;

  transition: all 0.5s ease-in-out;

  color: #fff8f3 !important;

  border: solid black 1px;
}

.loginButton:hover {
  background-color: #f7e7dc;
  color: black !important;
}

#navId li {
  border-radius: 5px;
  width: 7vw;

  margin-left: 1vw;

  transition: all 0.3s ease-in-out;

  border: solid black 1px;

  text-align: center;
}

#navId li:hover {
  background-color: #f7e7dc;
}

#navId li:hover a {
  color: #222831 !important;
}

#navbarMargin {
  margin-left: 1vw;
  width: 7vw;
  margin-right: 3vw;

  color: #fff8f3 !important;
}

#navId li a {
  color: #fff8f3 !important;

  vertical-align: middle;
}
